body {
  width: 800px;
}

header img {
  width: 800px;
  height: 300px;
}

table {
  width: 800px;
  border-collapse: collapse;
  border: 1px solid;
}

th {
  border: 1px solid;
  text-align: left;
  padding: 5px;
}

td {
  border: 1px solid;
  padding: 5px;
}

.step2 {
  list-style-image: url(mark.jpg);
}

.step3 {
  list-style-type: upper-alpha;
}

.step4 {
  list-style-type: decimal-leading-zero;
}

.step5 {
  list-style-image: url(arrow10px.png);
}

blockquote {
  margin-left: 0;
  font-style: italic;
  font-weight: bold;
}

.info {
  list-style-type : none;
  color : blue;
}